body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
  color: #3498db;
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}

header img {
  width: 200px;
  height: 200px;
}

header h1 {
  margin: 0;
  font-size: 32px;
}

.text-container {
  position: relative;
  color: rgb(255, 255, 255);
  left: 0rem;
  top: -8rem;
  background-color: rgb(41, 41, 41, 0.8);
  padding: 0 1rem;
}

.left-half {
  flex: 1;
  margin: 20px;
}

.section-box {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
}

.right-half {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3498db;
  border-radius: 5px;
  box-shadow: 10px 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.about-me,
.interests,
.contact,
h2 {
  color: #000;
  margin-left: 40px;
}

table {
  background-color: #fff;
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #bdc3c7;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #3498db;
  color: #fff;
}

td {
  background-color: #ecf0f1;
}

footer {
  background-color: #3498db;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
}

img {
  width: 250px;
  height: 300px;
}

.role-model-header {
  color: #fff;
}
